body {
    background-color: #131312;
}

header {
    background-color: orange;
    color: black;
    padding: 40px;
    font-size: 50px;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

